/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  padding: 20px;
}

h1 {
  color: rebeccapurple;
  margin-bottom: 20px;
}

.parent {
  background-color: aquamarine;
  min-height: 300px;
  /* Flex container */
  /* Three amigos of flexbox */
  display: flex;
  /* main axis */
  justify-content: center;
  /* cross axis */
  align-items: center;
  gap: 20px;
}

.child {
  background-color: coral;
  min-height: 200px;
  border: 1px dotted red;
  /* flex item */
  /* width: 200px; */
  flex: 1;
}

.brat {
  /* flex item properties */
  align-self: flex-end;
}